.mg-title {
    position: relative;
}

.mg-login {
    position: absolute;
    right: 20px;
    top: 15px;
}

.mg-login label,
.mg-login a {
    height: 20px;
    padding: 0 10px;
    line-height: 20px;
    font-size: 13px;
    background: none;
    border-color: #fff;
    color: #fff;
}

header {
    background: #6e8399;
}

.nav-tabs .nav-link {
    border: 1px solid #6e8399;
    border-bottom: none;
    background: #a4b9d4;
    color: #000;
    font-size: 16px;
}

.nav-tabs .nav-link2 {
    border: 1px solid #b06d6d;
    border-bottom: none;
    background: #dda9a9;
    color: #000;
}

.nav-tabs .nav-link.active {
    background: none;
    border: none;
    color: #fff;
}

.nav-tabs {
    border-bottom: 1px solid #6e8399;
}

.header2 {
    background: #b06d6d;
}

.header2 .nav-tabs {
    border-bottom: 1px solid #b06d6d;
}

.header2 .nav-tabs .nav-link.active {
    background: none;
    border: none;
    color: #fff;
}

.nav-tabs .dropdown-menu {
    width: 100%;
    padding: 0;
    top: 1px !important;
}

.nav-tabs .nav-item .dropdown-item {
    background: #a4b9d4;
    border-top: 1px solid #fff;
}

.nav-tabs .nav-item2 .dropdown-item {
    background: #dda9a9;
}

.nav-tabs .dropdown-item:hover,
.nav-tabs .nav-link:hover {
    color: #fff;
}

.nav-tabs li.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs li.dropdown .dropdown-menu {
    position: absolute;
    transform: translate3d(0px, 40px, 0px) !important;
    left: 0px;
    will-change: transform;
}

.nav-tabs .nav-item.show .nav-link {
    border: 1px solid #6e8399;
    border-bottom: none;
    background: #a4b9d4;
}

.nav-tabs .nav-item2.show .nav-link {
    /* border: 1px solid #b06d6d; */
    border: none;
    background: #dda9a9;
}

.w-2em {
    width: 2em;
}

.w-3em {
    width: 3em !important;
}

.w-4em {
    width: 4em !important;
}

.w-5em {
    width: 5em !important;
}

.w-6em {
    width: 6em;
}

.w-7em {
    width: 7em;
}

.w-8em {
    width: 8em;
}

.w-9em {
    width: 9em;
}

.w-10em {
    width: 10em;
}

.w-11em {
    width: 11em;
}

.w-12em {
    width: 12em;
}

.w-13em {
    width: 13em;
}

.w-14em {
    width: 14em;
}

.w-15em {
    width: 15em;
}

.w-16em {
    width: 16em;
}

.w-17em {
    width: 17em;
}

.w-30em {
    width: 30em;
}

.cursor-point {
    cursor: pointer;
}

@media screen and (max-width: 780px) {
    .nav-tabs .nav-link {
        padding-left: 5px;
        padding-right: 5px;
    }
}